PREFIX=.
AUTO_REACTION=on
AUTO_VIEW_STATUS=on
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off
BOT_MENU_LINKS=https://telegra.ph/file/cc6f595431b134c1d7a46.jpg
BOT_MODE=private
DATABASE_URL=postgresql://postgres:bKlIqoOUWFIHOAhKxRWQtGfKfhGKgmRX@viaduct.proxy.rlwy.net:47738/railway
OWNER_NAME=Mwtu
OWNER_NUMBER=254716490732
WARN_COUNT=3
STARTING_MESSAGE=on
PRESENCE=
CHAT_BOT=off
SESSION_ID='' 
